@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid black; */
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    align-items: center;
    padding: 1em 9%;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease-in-out;
    z-index: 99999;
}

nav.sticky {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.603);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav ul {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

nav li a {
    color: black;
    transition: 0.3s;
}

nav li a:hover {
    color: maroon;
}

.nav-brand img {
    width: 250px;
}

.menu-toggle {
    display: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9%;
    min-height: 116vh;
    /* background-color: aqua; */
}

.hero {
    background-color: maroon;
    color: white;
}

.login {
    background-color: maroon;
    border: 2px solid maroon;
    padding: 8px 20px;
    color: white;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.login:hover {
    background-color: white;
    color: maroon;
}

.content {
    width: 100%;
}

.hero h1 {
    font-size: 32px;
}

.hero .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* padding-top: 100px; */
}

.desc {
    width: 90%;
    margin-right: 5rem;
    margin-top: 0;
}

.desc a {
    display: inline-block;
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    color: maroon;
    transition: 0.3s ease-in-out;
}

.desc a:hover {
    box-shadow: rgba(149, 157, 165, 0.648) 0px 8px 24px;
}


.desc i {
    margin-left: 5px;
    transition: 0.3s ease-in-out;
}

.desc a:hover i {
    transform: translateX(5px);
}

.desc p {
    margin: 20px 0;
}


.isi {
    text-align: center;
}

.isi h1 {
    font-size: 32px;
}

.isi p {
    margin: 20px 0;
}

.items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0;
}

.card {
    /* box-shadow: rgba(149, 157, 165, 0.761) 0px 8px 24px; */
    width: 20%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    color: maroon;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.features h1 {
    color: maroon;
}

.card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.card-header img {
    padding: 15px;
    width: 100px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.orange {
    background-color: #F89D80;
}

.yellow {
    background-color: #f4d47c;
}

.green {
    background-color: #95ebd4;
}

.blue {
    background-color: #13243C;
}

.about {
    background-color: maroon;
    color: white;
}

.items2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.worker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    color: maroon;
    padding: 25px;
    border-radius: 20px;
    margin: 20px;
    width: 300px;
}

.worker img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.worker span {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

.contact h1 {
    color: maroon;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

table {
    width: 80%;
}

table tr td {
    padding-bottom: 15px;
}

table tr td input {
    padding: 8px;
}

table input,
table textarea {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #8c8c8c;
}

footer {
    background-color: maroon;
    margin-top: -40px;
    padding: 0 9% 50px 9%;
    color: white;
}

footer p {
    margin-top: 20px;
}

.contact input[type=submit] {
    border: none;
    outline: none;
    background-color: maroon;
    color: white;
    padding: 15px 0;
}

@media only screen and (max-width: 768px) {

    /* Hamburger menu */
    .menu-toggle {
        display: block;
        display: flex;
        flex-direction: column;
        height: 20px;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .menu-toggle input {
        position: absolute;
        width: 48px;
        height: 28px;
        left: -10px;
        top: -5px;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    .menu-toggle span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: maroon;
        border-radius: 3px;
        transition: 0.5s;
    }

    /* Hamburger Menu Animation */
    .menu-toggle span:nth-child(2) {
        transform-origin: 0 0;
    }

    .menu-toggle input:checked~span:nth-child(2) {
        transform: rotate(45deg) translate(-1px, -2px);
    }

    .menu-toggle span:nth-child(4) {
        transform-origin: 0 100%;
    }

    .menu-toggle input:checked~span:nth-child(4) {
        transform: rotate(-45deg) translate(1px, 0);
    }

    .menu-toggle span:nth-child(3) {
        transform: scale(1);
    }

    .menu-toggle input:checked~span:nth-child(3) {
        transform: scale(0);
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        z-index: -9999;
        width: 100%;
        transform: translateX(100%);
        transition: 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    section {
        padding-bottom: 30px;
    }

    .content {
        padding: 150px 0;
    }

    .hero .content {
        padding-bottom: 0;
    }

    .nav-brand img {
        width: 200px;
    }

    .hero .content {
        flex-direction: column-reverse;
    }

    .desc {
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
        text-align: center;
    }

    .items {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 50px;
    }

    .items2 {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    table {
        width: 100%;
    }

    footer {
        padding: 50px 9%;
        margin-top: -10px;
    }

    footer p {
        font-size: 12px;
        margin-top: 20px;
    }
}